node_modules
depcheck-report.md
activities*.json
# API firebase config contains private key - never commit
api/firebase/firebaseConfig.json
dist
local.settings.json
client/build
.env
*storybook.log
storybook-static
