name: Azure Static Web Apps - build & deploy

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, closed]
    # do not deploy PR branch that renovate created
    branches-ignore:
      - renovate/*

jobs:
  build_and_deploy_job:
    if: (github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.action != 'closed')) && startsWith(github.head_ref, 'renovate') == false
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: setup bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Install
        run: bun install
      - name: Setup Firebase Config
        run: echo "${{ secrets.API_FIREBASE_CONFIG }}" | base64 -d > api/firebase/firebaseConfig.json
      - name: Typecheck API
        run: bun run --filter api typecheck
      - name: Build All
        run: bun run --filter '*' build
      - name: Deploy to production
        if: github.event_name == 'push'
        run: |
          bunx @azure/static-web-apps-cli deploy client/build/client \
            --api-location api/dist \
            --env production \
            --api-language node \
            --api-version 22 \
            --deployment-token ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_KIND_MEADOW_01A0DD103 }}
      - name: Deploy PR preview
        if: github.event_name == 'pull_request'
        run: |
          bunx @azure/static-web-apps-cli deploy client/build/client \
            --api-location api/dist \
            --env preview \
            --api-language node \
            --api-version 22 \
            --deployment-token ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_KIND_MEADOW_01A0DD103 }}
