name: "Chromatic"

on:
  push:
    branches:
      - main
  pull_request:
    types: [synchronize, opened]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  chromatic:
    name: Run Chromatic
    if: github.event.pull_request == null || (github.event.pull_request.head.repo.fork == false && secrets.CHROMATIC_PROJECT_TOKEN != '')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: ./.github/actions/setup
      - name: Run Chromatic
        uses: chromaui/action@latest
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          workingDir: client
