name: "Knip"

on:
  pull_request:
    types: [synchronize, opened]

jobs:
  knip:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: setup bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: install
        run: bun install
      - name: knip
        run: bun run knip
