name: "Lint"

on:
  push:
    branches:
      - main
  pull_request:
    types: [synchronize, opened]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: setup bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: install
        run: bun install
      - name: lint
        run: bun run lint
