name: "Size Limit"

on:
  push:
    branches:
      - master
  pull_request:
    types: [synchronize, opened]

jobs:
  size-limit:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: setup bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: size-limit
        uses: andresz1/size-limit-action@v1.8.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          build_script: --filter client build
          script: bunx size-limit --json
          package_manager: bun
