name: "Size Limit"

on:
  push:
    branches:
      - master
  pull_request:
    types: [synchronize, opened]

jobs:
  size-limit:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: setup bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: install
        run: bun install
      - name: size-limit
        uses: andresz1/size-limit-action@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          skip_step: install
          custom_build: bun run --cwd client build
