name: "Test"

on:
  push:
    branches:
      - main
  pull_request:
    types: [synchronize, opened]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
        with:
          install-playwright: "true"
      - name: test
        run: bun run --cwd client test

  e2e:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
        with:
          install-playwright: "true"
      - name: e2e tests
        run: bun run --cwd client test:e2e

  api-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
      - name: api tests
        run: bun run --cwd api test
